   
            #formCari { margin:0 auto;width:80%;background-color:#CCCCCC;padding:5px;}    
            h1 { padding:5px;margin:10px;text-align:center }     
            form label { float:left; width:100px;}     
            form br { clear:left;}     
            #btn { /*margin:10px;*/ text-align:center;margin-top: 5px;/*padding:5px; */} 

            #div2{
                width:100%;	
                position:fixed; top:0; left:0;
                background-color:#66FFFF;
                /*margin: 0 auto;*/
                position:relative;
                padding-bottom: 5px;
                padding-top: 5px;
            }
            #result{
                background-color: darkseagreen;
            }
      
#fm{
    margin:0;
    padding:10px 30px;
}
.ftitle{
    font-size:14px;
    font-weight:bold;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
.fitem{
    margin-bottom:5px;
}
.fitem label{
    display:inline-block;
    width:120px;
}
.fitem input{
    width:160px;
}